:root {
  --background-color: #e5e9ef;
  --stage-backgroud-color: #d5dce5;
  --card-background-color: #ffffff;
  --input-background-color: #f0f3f8;

  --card-dash-color: #bac4d0;

  --primary-color: #38393d;
  --secondary-color: #71747c;
  --variant-secondary-color: #7d8ca1;

  --drag-icon-color: #b3b3b3;

  --button-background-color: #7cabe3;
  --button-text-color: #ffffff;

  --border-radius: 0.25rem;
  --stage-gap: 1.5rem;
  --card-gap: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

body {
  min-height: 100vh;
  color: var(--primary-color);
  background: var(--background-color);
  line-height: 1.2;
  font-size: 16px;
}
